@model Cucumber.Dto.NumberToWordsDto

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <div class="col-md-10">
            <p class="border-bottom pb-2">&nbsp;@Model.Name</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <p class="border-bottom pb-2">&nbsp;@Model.Words</p>
        </div>
    </div>
</div>